<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Todo</title>
  </head>
  <body>
    <nav id="navbar">
      <a href="/" id="logo">
        <h1>logo</h1>
      </a>
      <ul>
        <li><a href="/todo/dashboard">Dashboard</a></li>
        <li><a href="/logout">Sair</a></li>
        <li><a href="/login">Entrar</a></li>
        <li><a href="/register">Registrar</a></li>
      </ul>
    </nav>
    <div class="container">
      {{{body}}}
    </div>
  </body>
</html>