<div class="dashboard-container">
  <div class="control-card">
    <div class="card">
      <div class="card-content">
        <h4>Qtde</h4>
        <h5>Total de tarefas</h5>
      </div>
      <a href="#">Acessar</a>
    </div>
    <div class="card">
      <div class="card-content">
        <h4>Qtde</h4>
        <h5>Tarefas sem categoria</h5>
      </div>
      <a href="#">Acessar</a>
    </div>
    <div class="card">
      <div class="card-content">
        <h4>Qtde</h4>
        <h5>Tarefas Vencidas</h5>
      </div>
      <a href="#">Acessar</a>
    </div>
    <div class="card">
      <div class="card-content">
        <h4>Qtde</h4>
        <h5>Tarefas no prazo</h5>
      </div>
      <a href="#">Acessar</a>
    </div>
    <div class="card">
      <div class="card-content">
        <h4>Qtde</h4>
        <h5>Tarefas sem prazo de vencimento</h5>
      </div>
      <a href="#">Acessar</a>
    </div>
    <div class="card">
      <div class="card-content">
        <h4>Qtde</h4>
        <h5>Tarefas removidas</h5>
      </div>
      <a href="#">Acessar</a>
    </div>
  </div>
</div>