#button-visualizar {
  background-color: var(--color-hover-button);
  color: var(--background-dark);
  padding: 0.8rem 1rem;
  margin-right: 2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-family: "Open sans", sans-serif;
}
#button-visualizar > a {
  color: var(--background-dark);
}

#button-visualizar:hover {
  opacity: 0.8;
}
