a {
  text-decoration: none;
}
.dashboard-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  width: 350px;
  height: 180px;
  background: var(--background-dark);
  border-radius: 5px;
}
.card a {
  text-align: center;
  justify-content: center;
  display: flex; /* Adicionando display flex */
  display: flex;
  align-items: center; /* Centralizando verticalmente */
  height: 20%;
  width: 100%;
  background-color: var(--color-hover-button);
  color: var(--background-dark);
  padding: 2px 2px;
  border-radius: 0 0 5px 5px;
}
.control-card {
  width: 80%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 350px;
}
.card-content {
  height: 80%;
  padding: 1rem;
}
.card-content h4 {
  margin-bottom: 2rem;
}
@media screen and (max-width: 1500px) {
  .card {
    width: 280px;
    height: 140px;
  }
  .control-card {
    grid-template-rows: 200px;
  }
}
