@import "./categoria.css";
@import "./auth.css";
@import "./todos.css";
@import "./dashboard.css";
@import "./visualizar.css";
@import "./button.css";
:root {
  --background-dark: #031424;
  --background-light: #30415d;
  --color-hover-button: #cf6766;
}
* {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-light);
  color: #fff;
}
button,
input[type="submit"] {
  cursor: pointer;
}
/* NAVBAR */
#logo-todo {
  height: 40px;
}
#logo-todo h1 {
  font-size: 1.5rem;
}
#navbar-todo {
  padding: 1.2em 2.4em;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-dark);
  color: #fff;
  height: 10%;
}
#navbar-todo a {
  text-decoration: none;
}
#navbar-todo h1 {
  color: #fff;
}
#navbar-todo ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar-todo ul li {
  margin-left: 1em;
}

#navbar-todo ul li a {
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
  font-weight: bold;
}

#navbar-todo ul li a:hover {
  color: var(--color-hover-button);
}

.container-main {
  height: 80vh;
  padding: 2em;
}
