<div class="todo-container">
  <div class="header-todo">
    <h1>Lista To-do</h1>
    <form action="/todo" method="POST" id="nova-todo-form">
      <input
        type="text"
        name="titulo"
        id="nova-todo-input"
        placeholder="Insira o título"
        required
      />
      <input
        type="text"
        name="descricao"
        id="nova-todo-input"
        placeholder="Insira a descrição"
        required
      />
      <div class="control-input">
        <label for="vencimento">Vencimento</label>
        <input type="date" name="vencimento" id="#nova-todo-input-date" />
      </div>
      <div class="control-input">
        <label for="idCategoria">Categoria</label>
        <select name="idCategoria">
          <option value="sem">Sem Categoria</option>
          {{#each categorias}}
            <option value="{{this.idCategoria}}">{{this.descricao}}</option>
          {{/each}}
        </select>
      </div>

      <input type="submit" id="nova-todo-submit" value="Add To-do" />
    </form>
  </div>
  <div class="main">
    <section class="lista-todo">
      <h2>To-dos</h2>

      <div id="todos">
        {{#each todos}}
          <div class="todo">
            <div class="content">
              <input
                type="text"
                name="descricao"
                class="text"
                value={{this.titulo}}
              />
              <input
                type="text"
                name="descricao"
                class="text"
                value={{this.descricao}}
              />
            </div>
            <div class="actions">
              <form action="#" method="POST">
                <button class="editar">Editar</button>
              </form>
              <form action="#" method="POST">
                <button class="excluir">Excluir</button>
              </form>
            </div>
          </div>
        {{/each}}
      </div>

    </section>
  </div>
</div>