<div class="edit-todo-container">
  <div class="edit-control-card">
    <div class="card-info">
      <div class="info-text">
        <div class="text-titulo">titulo</div>
        <div class="text-descricao">Descrição</div>
      </div>
      <div class="info-detalhes">
        <div class="detalhes-categoria">categoria</div>
        <div class="detalhes-vencimento">Vencimento</div>
      </div>
    </div>
    <div class="card-status">
      status
    </div>
  </div>
</div>