<div class="edit-todo-container">
  <div class="edit-control-card">
    <div class="card-info">
      <div class="info-text">
        <input type="text" />
        <input type="text" />

      </div>
      <div class="info-detalhes">
        <div class="detalhes-categoria">categoria</div>
        <input type="date" />
      </div>
    </div>
    <div class="card-status">
      status
    </div>
  </div>
</div>